<h2>Create An Account</h2>
<form ng-submit="registerUser(userObj)">
    <input ng-model="userObj.username" type="email" placeholder="Email">
    <input ng-model="userObj.name" type="text" placeholder="First Name">
    <input ng-model="userObj.password" type="password" placeholder="Password">
    <!-- <input ng-model="userObj.password" type="password" placeholder="Confirm Password"> -->
    <button>Sign-Up</button>
</form>
           <h3>Signup</h3>
        <form class="login">
            <input placeholder="Name" type="text">
            <input placeholder="User Name" type="text">
            <input placeholder="Password" type="text">
            <input placeholder="Email" type="text">
            <button>REGISTER</button>
        </form>
        <hr>

 <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input class="validate" id="account_circle" type="text">
                        <label for="icon_prefix">Full Name</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input class="validate" id="icon_email" type="text">
                        <label for="icon_email">E-mail</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">person</i>
                        <input class="validate" id="icon_person" type="text">
                        <label for="icon_person">Username</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input class="validate" id="icon_telephone" type="tel">
                        <label for="icon_telephone">Telephone</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock_outline</i>
                        <input class="validate" id="icon_lock_outline" type="text">
                        <label for="icon_lock_outline">Password</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">lock</i>
                        <input class="validate" id="icon_lock" type="text">
                        <label for="icon_lock">Confirm Password</label>
                    </div>
