nav {
  height: 90px; }

i.large.material-icons {
  color: red;
  margin-left: 2%; }

nav a.brand-logo {
  width: 30%;
  margin-left: 5%;
  color: black;
  overflow: overlay; }

nav .nav-wrapper {
  width: 35%;
  position: relative;
  float: right; }

.modal {
  width: 800px; }

.modal-content h5 {
  margin-top: 0; }

button.modal-action {
  float: right;
  margin-top: -1px; }

.parallax-container {
  margin-top: 10%;
  height: 1000px;
  background-color: yellow; }
