nav {
  height: 90px;
  background-color: #482813; }
  nav img {
    width: 1242px;
    height: 300px; }

i.large.material-icons {
  color: red;
  margin-left: 2%; }

nav a.brand-logo {
  width: 30%;
  margin-left: 5%;
  color: white;
  overflow: overlay; }

nav .nav-wrapper {
  width: 45%;
  position: relative;
  float: right; }

.modal {
  width: 800px; }

.modal-content h5 {
  margin-top: 0; }

button.modal-action {
  margin: auto; }

button.modal-trigger {
  float: right;
  margin-top: 1px;
  background-color: #2B292A; }

button.btn.modal-trigger {
  margin-right: 320px; }

h1 {
  font-size: 100pt;
  text-align: center;
  padding-top: 100px; }

h2 {
  font-size: 100pt;
  text-align: center; }

.parallax-container {
  height: "20px"; }
