* {
  border: solid 1.5px red; }

nav {
  height: 90px;
  background-color: #482813; }

ul.right.hide-on-med-and-down {
  background-color: red; }
  ul.right.hide-on-med-and-down .li {
    margin-right: 100px; }
    ul.right.hide-on-med-and-down .li button.btn.modal-trigger {
      margin-right: 20px; }

i.large.material-icons {
  color: red;
  margin-left: 2%; }

a.brand-logo {
  width: 20%;
  margin-left: 1%;
  color: white;
  overflow: overlay; }

nav .nav-wrapper {
  width: 100%;
  position: relative;
  float: right; }

.modal .modal1 {
  width: 800px; }

.modal-content h5 {
  margin-top: 0; }

button.modal-action {
  margin: auto; }

button.modal-trigger {
  float: right;
  margin-top: 1px;
  background-color: #2B292A; }

h1 {
  font-size: 100pt;
  text-align: center;
  padding-top: 100px; }

h2 {
  font-size: 100pt;
  text-align: center; }

.parallax-container {
  height: "5px";
  margin-top: -25px; }
