* {
    border: solid 1.5px red;
}

nav {
    height: 90px;
    background-color: #482813;
}

ul.right.hide-on-med-and-down {
    // width: 800px;
    // height: 400px;
    background-color: red;
    .li {
        // margin-left: 10px;
        margin-right: 100px;
        // width: 40px;
        button.btn.modal-trigger {
            margin-right: 20px;
        }
    }
}

i.large.material-icons {
    color: red;
    margin-left: 2%;
    // z-index: -1;
    // overflow: overlay;
    // display: inline;
}

a.brand-logo {
    width: 20%;
    margin-left: 1%;
    color: white;
    overflow: overlay;
}

nav .nav-wrapper {
    width: 100%;
    position: relative;
    float: right;
}

.modal .modal1 {
    width: 800px;
}

// .modal2 button.btn.modal-trigger {
//     margin-right: 30px;
// }
.modal-content h5 {
    margin-top: 0;
}

button.modal-action {
    margin: auto;
    // margin-top: -1px;
}

button.modal-trigger {
    float: right;
    margin-top: 1px;
    background-color: #2B292A;
}

h1 {
    font-size: 100pt;
    text-align: center;
    padding-top: 100px;
}

h2 {
    font-size: 100pt;
    text-align: center;
}

.parallax-container {
    height: "5px";
    margin-top: -25px;
}
